@import "normalize";
@import "compass/css3";

@media only screen and (min-width: 768px) {}

@media only screen and (max-width: 767px) {}

$footercolor: black;
$linkcolor: magenta;

.add-top { padding-top: 2em; }
.add-bottom { padding-bottom: 2em;}

body {
	p {
		font-family: "Circular", sans-serif;
		font-size: 15pt;
	}
}
a:link, a:visited {
	font-family: inherit;
	color: $linkcolor;
	@include transition(all 1.0s);
	&:hover { @include transition(all 1.0s);	 }
}
h1, h2, h3, h4, h5, h6 {
	font-family: "Circular", sans-serif;
	// text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1px;
	a:link, a:visited {
		font-family: "Circular", sans-serif;
		text-decoration: none;
	}
}
div.logo {
	padding-top: 2em;
	padding-bottom: 1em;
	a {
		font-size: 35pt;
		text-decoration: none;
		font-weight: 900;
		text-transform: uppercase;
		font-family: "Circular";
		color: $linkcolor;
	}
}

.ipsum-form {
	padding: 2em;
	// background-color: red;
	// margin: 1em 2em;
	// padding: 1em 2em;
}

.ipsum-text {
	@extend .add-top;
	@extend .add-bottom;
	p {
		font-size: 18pt;
	}
}

footer {
	width: 100%;
	font-family: "Circular", sans-serif;
	line-height: 2em;
	background-color: $footercolor;
	color: white;
	font-size: 12pt;
	padding-top: 1rem;
	padding-bottom: 5em;
	letter-spacing: 1px;
	// font-weight: 900;
	// @media only screen and ( max-width: 767px ) {
	// 	padding-bottom: 5em;
	// }
	a:link, a:visited {
		text-decoration: none;
		color: $linkcolor;
	}
}

.dev {
	position: fixed;
	padding: 0.25em;
	background-color: yellow;
	bottom: 0;
	width: 100%;
	left: 0;
}

.markup {
	color: rgba(tomato,0.5);
	&:hover {
		color: rgba(tomato,1);
	}
}

// FONTS
// ========================
@font-face {
  font-family: 'Circular';
  src:
	  url('fonts/circular-book.woff') format('woff'),
	  url('fonts/circular-book.ttf') format('truetype');
	  font-weight: normal;
}
@font-face {
  font-family: 'Circular';
  src: url('fonts/circular-medium.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
       url('fonts/circular-medium.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
       font-weight: bold;
}