@import "normalize";
@import "compass/css3";

@media only screen and (min-width: 768px) {
}

@media only screen and (max-width: 767px) {

}

body {
	// @include transition(all 1.0s);
}

div.logo {
	padding-bottom: 0.5em;
	a {
		font-size: 25pt;
		text-decoration: none;
		font-weight: 900;
		text-transform: uppercase;
		font-family: Helvetica;
	}
}

.container {
	padding: 1em;
	max-width: 900px;
	margin: 0 auto;
	font-size: 1.35em;
}

footer {
	font-family: sans-serif;
	line-height: 2em;
	background-color: black;
	color: white;
	font-size: 8pt;
	padding-top: 1rem;
	padding-bottom: 25em;
	a:link, a:visited {
		text-decoration: none;
		color: tomato;
	}
}

.dev {
	position: fixed;
	padding: 0.25em;
	background-color: yellow;
	bottom: 0;
	width: 100%;
	left: 0;
}

.markup {
	color: rgba(tomato,0.5);
	&:hover {
		color: rgba(tomato,1);
	}
}

h1,h2,h3,h4,h5,h6 {
	a:link, a:visited {text-decoration: none;}
}