@import "normalize";
@import "compass/css3";

@media only screen and (min-width: 768px) {}

@media only screen and (max-width: 767px) {}

$footercolor: black;
$linkcolor: orange;

.add-top { padding-top: 2em; }
.add-bottom { padding-bottom: 2em;}

body {
	p {
		font-family: Times;
		font-size: 15pt;
	}
}
a {	
	color: $linkcolor;
	@include transition(all 1.0s);
	&:hover { @include transition(all 1.0s);	 }
}

div.logo {
	padding-top: 2em;
	padding-bottom: 1em;
	a {
		font-size: 35pt;
		text-decoration: none;
		font-weight: 900;
		text-transform: uppercase;
		font-family: Helvetica;
		color: $linkcolor;
	}
}

.ipsum-form {
	padding: 2em;
	// background-color: red;
	// margin: 1em 2em;
	// padding: 1em 2em;
}

.ipsum-text {
	@extend .add-top;
	@extend .add-bottom;
	p {
		font-size: 18pt;
	}
}

footer {
	width: 100%;
	font-family: sans-serif;
	line-height: 2em;
	background-color: $footercolor;
	color: white;
	font-size: 12pt;
	padding-top: 1rem;
	padding-bottom: 5em;
	// @media only screen and ( max-width: 767px ) {
	// 	padding-bottom: 5em;
	// }
	a:link, a:visited {
		text-decoration: none;
		color: $linkcolor;
	}
}

.dev {
	position: fixed;
	padding: 0.25em;
	background-color: yellow;
	bottom: 0;
	width: 100%;
	left: 0;
}

.markup {
	color: rgba(tomato,0.5);
	&:hover {
		color: rgba(tomato,1);
	}
}

h1,h2,h3,h4,h5,h6 {
	a:link, a:visited {text-decoration: none;}
}
